{% extends 'global/base.html' %}
{% load static %}

{% block css %}
<style>
    .color-item {
        color: transparent;
        transition: ease 0.5s;
        cursor: pointer;
        height: 1.5rem !important;
    }

    .color-item:hover {
        color: white;
        background-color: #0e0e12;
    }
</style>
{% endblock %}

{% block content %}
<!-- BANNER -->
<div class="banner text-bg-light" style="background-color: #f5f5f7 !important;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'home/img/banner.jpg' %}" class="d-block w-100 custom-min-vh-100 h-100"
                    alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/img/banner.jpg' %}" class="d-block w-100 custom-min-vh-100 h-100"
                    alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/img/banner.jpg' %}" class="d-block w-100 custom-min-vh-100 h-100"
                    alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- END BANNER -->


<!-- MONTE -->
<div class="monte-bolsa mt-4 d-none">
    <div class="monte-header my-5 py-3">
        <h2 class="text-center d-none">Monte a sua</h2>
    </div>
    <div class="row justify-content-around w-75 mx-auto">
        <div class="col-12 col-md-5 h-100">
            <img src="{% static 'home/img/bolsa/cpreto.jpg' %}" class="img-fluid shadow-sm h-100" alt="">
        </div>

        <div class="col-12 col-md-5">
            <div class="right-top h-100">
                <div class="bg-white px-4 py-4 h-100 shadow-sm gap-4 d-flex flex-column">
                    <h2 class="text-center alert alert-info py-2">MONTE A SUA BOLSA</h2>

                    <h3 class="font-roboto alert text-center py-2 text-black small">Escolha quais cores
                        quer usar hoje !</h3>
                    <div class="d-flex gap-2 color-list flex-wrap">
                        <a class="text-decoration-none text-white" href="monte.html">
                            <div class="color-item small px-2 overflow-hidden rounded-2 border border-2 border-dark-subtle"
                                style="background-color: #0e0e12;">#12345</div>
                        </a>
                        <a class="text-decoration-none text-white" href="monte.html">
                            <div class="color-item small px-2 overflow-hidden rounded-2 border border-2 border-dark-subtle"
                                style="background-color: #0e0e12;">#12345</div>
                        </a> <a class="text-decoration-none text-white" href="monte.html">
                            <div class="color-item small px-2 overflow-hidden rounded-2 border border-2 border-dark-subtle"
                                style="background-color: #0e0e12;">#12345</div>
                        </a> <a class="text-decoration-none text-white" href="monte.html">
                            <div class="color-item small px-2 overflow-hidden rounded-2 border border-2 border-dark-subtle"
                                style="background-color: #0e0e12;">#12345</div>
                        </a> <a class="text-decoration-none text-white" href="monte.html">
                            <div class="color-item small px-2 overflow-hidden rounded-2 border border-2 border-dark-subtle"
                                style="background-color: #0e0e12;">#12345</div>
                        </a> <a class="text-decoration-none text-white" href="monte.html">
                            <div class="color-item small px-2 overflow-hidden rounded-2 border border-2 border-dark-subtle"
                                style="background-color: #0e0e12;">#12345</div>
                        </a> <a class="text-decoration-none text-white" href="monte.html">
                            <div class="color-item small px-2 overflow-hidden rounded-2 border border-2 border-dark-subtle"
                                style="background-color: #0e0e12;">#12345</div>
                        </a>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- END MONTE -->



<!-- MONTE (COPY) da de cima, caso decida voltar ao original, que é a de cima -->
<style>
    .cta {
        position: relative;
        margin: auto;
        padding: 12px 18px;
        transition: all 0.2s ease;
        border: none;
        background: none;
        cursor: pointer;
    }

    .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: #ff8a8a;
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
    }

    .cta span {
        position: relative;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #234567;
    }

    .cta svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #234567;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
    }

    .cta:hover:before {
        width: 100%;
        background: #fc9a9a;
    }

    .cta:hover svg {
        transform: translateX(0);
    }

    .cta:active {
        transform: scale(0.95);
    }
</style>
<div class="monte-bolsa mt-4">
    <div class="monte-header my-5 py-3">
        <h2 class="text-center d-none">Monte a sua</h2>
    </div>
    <div class="row justify-content-around w-75 mx-auto">
        <div class="col-12 col-md-5 h-100">
            <img src="{% static 'home/img/bolsa/cpreto.jpg' %}" class="img-fluid shadow-sm h-100" alt="">
        </div>

        <div class="col-12 col-md-5">
            <div class="text-center h-100 d-flex flex-column align-items-center">
                <div class="d-block my-auto">
                    <h2 class="text-uppercase alert" style="background-color: #f5f5f7;">Personalize a sua bolsa</h2>
                    <p class="">Combine suas cores favoritas</p>
                    <p class="small">Você também pode comprar as peças separadamente</p>
                    <a class="cta mt-3 text-decoration-none" href="{% url 'home:monte' %}">
                        <span>Personalizar agora</span>
                        <svg width="15px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- END MONTE -->



<!-- ADS-pc -->
 {% if nuvem_produtos|length > 0 %}
<style>
    .card {
        border: none;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .card img {
        object-fit: cover;
        height: 200px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(100%);
    }
</style>
<div class="ads-title mt-5">
    <h2 style="color: #1D1D1F;font-size: 28px;" class="text-center">Outros produtos</h2>
</div>
<div class="ads my-5 carrossel-pc d-none d-md-block" style="">
    <div id="cardCarousel" class="carousel slide container" data-bs-ride="carousel">
        <!-- Carousel Inner -->
        <div class="carousel-inner w-75 mx-auto">
            <div class="carousel-item active">
                <div class="row">
                    {% for prod in nuvem_produtos %}
                    <div class="col-lg-3 col-md-6 col-12 mb-3">
                        <div class="card">
                            <img src="{{ prod.images.0.src }}" class="card-img-top" alt="{{ prod.name.pt }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ prod.name.pt }}</h5>
                                <p class="card-text d-none">Description</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12 mb-3">
                        <div class="card">
                            <img src="{% static 'home/img/bolsa/cpreto.jpg' %}" class="card-img-top" alt="Card 5">
                            <div class="card-body">
                                <h5 class="card-title">Card Title 5</h5>
                                <p class="card-text">This is a description for Card 5.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 mb-3">
                        <div class="card">
                            <img src="{% static 'home/img/bolsa/cpreto.jpg' %}" class="card-img-top" alt="Card 6">
                            <div class="card-body">
                                <h5 class="card-title">Card Title 6</h5>
                                <p class="card-text">This is a description for Card 6.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 mb-3">
                        <div class="card">
                            <img src="{% static 'home/img/bolsa/cpreto.jpg' %}" class="card-img-top" alt="Card 7">
                            <div class="card-body">
                                <h5 class="card-title">Card Title 7</h5>
                                <p class="card-text">This is a description for Card 7.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 mb-3">
                        <div class="card">
                            <img src="{% static 'home/img/bolsa/cpreto.jpg' %}" class="card-img-top" alt="Card 8">
                            <div class="card-body">
                                <h5 class="card-title">Card Title 8</h5>
                                <p class="card-text">This is a description for Card 8.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- END ADS -->


<!-- ADS-mb -->
<style>
    .card {
        border: none;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .card img {
        object-fit: cover;
        height: 200px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(100%);
    }
</style>
<div class="ads my-5 carrossel-pc d-block d-md-none" style="">
    <div id="carouselExampleInterval" class="carousel slide container" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for prod in nuvem_produtos %}
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="card w-75 mx-auto my-3">
                    <img src="{{ prod.images.0.src }}" class="d-block w-100" alt="...">
                    <div class="card-body">

                        <p class="w-100 d-block">{{ prod.handle.pt }}</p>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endif %}
</div>



<!-- Menu informativo payments -->
<div class="menu-info-payments mt-5">

    <div class="payments-carousel">
        <div class="card w-75 mx-auto my-5 rounded-2 border-0">
            <div class="card-header border-0">
                <h2 class="text-center">Métodos de Pagamento</h2>
            </div>
        </div>
        <ul>
            <!-- Logotipos -->
            <li><img src="{% static 'global/img/pay-cards/pix.png' %}" alt="Logo Pix"></li>
            <li><img src="{% static 'global/img/pay-cards/mastercard.png' %}" alt="Logo Mastercard"></li>
            <li><img src="{% static 'global/img/pay-cards/visa.png' %}" alt="Logo Visa"></li>
            <li><img src="{% static 'global/img/pay-cards/amex.png' %}" alt="Logo American Express"></li>
            <li><img src="{% static 'global/img/pay-cards/elo.png' %}" alt="Logo Elo"></li>
            <li><img src="{% static 'global/img/pay-cards/hipercard.png' %}" alt="Logo Hipercard"></li>
            <li><img src="{% static 'global/img/pay-cards/diners.png' %}" alt="Logo Diners Club International"></li>
            <li><img src="{% static 'global/img/pay-cards/boleto.png' %}" alt="Símbolo boleto bancário"></li>

        </ul>
    </div>
</div>

<!-- END ADS-mb -->

<!-- Menu informativo payments -->
<div class="menu-info-payments">

</div>

{% endblock %}

{% block js %}
<script>
    const sidenav = document.getElementById('sidenav');
    const overlay = document.getElementById('overlay');
    const menuToggle = document.getElementById('menuToggle');

    // Alterna a exibição do sidenav e do overlay
    menuToggle.addEventListener('click', () => {
        sidenav.classList.toggle('show');
        overlay.classList.toggle('show');
    });

    // Fecha o sidenav ao clicar no overlay
    overlay.addEventListener('click', () => {
        sidenav.classList.remove('show');
        overlay.classList.remove('show');
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
{% endblock %}