{% extends 'global/base.html' %}
{% load static %}
{% load custom_filters %}

{% block css %}
<style>
    canvas {
        /* border: 1px solid #ccc; */
    }


    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .color-selector {
        display: flex;
        align-items: center;
        gap: 10px;
    }



    .color-option {
        /* width: 40px; */
        height: 30px;
        cursor: pointer;

        transition: 0.1s ease;
    }

    .color-option:hover {
        transform: scale(1.1);
    }


    .min-height-palet {
        min-height: 180px;
    }


    /* colors palet */

    .card {
        background: #fff;
        border-radius: 10px;
    }

    .card .paleta {
        align-items: center;
        justify-content: center;
    }

    .component {
        height: 23px;
    }

    .card .paleta .cores {
        cursor: pointer;
        transition: 0.3s linear;
    }

    .card .paleta .cores:hover {
        transform: scale(1.1);
        transition: 0.1s linear;
    }

    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -60px;
        box-shadow: 1px 1px 8px #c7c7c7;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .card .paleta .cores .nome {
        width: 100%;
        height: 30px;
        background-color: #fff;
        text-align: center;
        font-size: 11px;
        font-family: Roboto, sans-serif;
        font-weight: 550;
    }

    .card .paleta .func {
        width: 100px;
        display: block;
        transform: rotate(-90deg);
        position: absolute;
        bottom: 40px;
        margin-left: -41px;
        padding-left: 5px;
        color: #fff;
        font-size: 15px;
        font-family: sans-serif;
        font-weight: 500;
    }

    .div1 {
        cursor: pointer;
        transition: background-color 0.3s;
        position: absolute;
        bottom: 0;
        width: 80px;
        height: 150px;
    }

    .div2 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -60px;
        left: 135px;
        box-shadow: 1px 1px 8px #c7c7c7;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .div1:hover+.div2 {
        background-color: #0e3746;
        display: flex;
        color: #fff;
        animation: cssAnimation_0 1512ms 1 ease-out;
    }

    .div3 {
        cursor: pointer;
        transition: background-color 0.3s;
        position: absolute;
        bottom: 0;
        width: 80px;
        height: 150px;
    }

    .div4 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -60px;
        left: 135px;
        box-shadow: 1px 1px 8px #c7c7c7;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .div3:hover+.div4 {
        background-color: #eae8dc;
        display: flex;
        color: #fff;
        animation: cssAnimation_0 1512ms 1 ease-out;
    }

    .div5 {
        cursor: pointer;
        transition: background-color 0.3s;
        position: absolute;
        bottom: 0;
        width: 80px;
        height: 150px;
    }

    .div6 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -60px;
        left: 135px;
        box-shadow: 1px 1px 8px #c7c7c7;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .div5:hover+.div6 {
        background-color: #f4f2ec;
        display: flex;
        color: #fff;
        animation: cssAnimation_0 1512ms 1 ease-out;
    }

    .div7 {
        cursor: pointer;
        transition: background-color 0.3s;
        position: absolute;
        bottom: 0;
        width: 80px;
        height: 150px;
    }

    .div8 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -60px;
        left: 135px;
        box-shadow: 1px 1px 8px #c7c7c7;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .div7:hover+.div8 {
        background-color: #be2623;
        display: flex;
        color: #fff;
        animation: cssAnimation_0 1512ms 1 ease-out;
    }

    @keyframes cssAnimation_0 {
        to {
            transform: rotate(360deg) translate(0px, 0px);
        }
    }
</style>
{% endblock %}


{% block content %}

{% for m in messages %}
<div class="message my-5">
    <div class="alert alert-{{ m.tags }} py-2 w-75 mx-auto">
        {{ m.message }}
    </div>
</div>
{% endfor %}

<form action="" method="post">
    {% csrf_token %}
    <input id="input-frente" type="hidden" name="bolsa-frente" required>
    <input id="input-atras" type="hidden" name="bolsa-atras" required>
    <input id="input-alca" type="hidden" name="bolsa-alca" required>
    <!-- sessão de montar a bolsa -->
    <div class="p-0 m-0" style="min-height: 50vh">
        <div class="">

            <div class="container my-5">
                <!-- Nav Tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active text-dark" id="frente-tab" data-bs-toggle="tab" data-bs-target="#frente"
                            type="button" role="tab" aria-controls="frente" aria-selected="false">
                            Frente
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-dark" id="alca-tab" data-bs-toggle="tab" data-bs-target="#alca"
                            type="button" role="tab" aria-controls="alca" aria-selected="true">
                            Centro
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-dark" id="atras-tab" data-bs-toggle="tab" data-bs-target="#atras"
                            type="button" role="tab" aria-controls="atras" aria-selected="false">
                            Costas
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-dark" id="transversal-tab" data-bs-toggle="tab" data-bs-target="#transversal"
                            type="button" role="tab" aria-controls="transversal" aria-selected="false">
                            Alça Transversal
                        </button>
                    </li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content" id="myTabContent">
                    <!-- tab alça -->
                    <div class="tab-pane fade" id="alca" role="tabpanel" aria-labelledby="alca-tab">
                        <div class="row row-cols-1 row-cols-md-2 justify-content-center text-center items-align-center">
                            <div class="col">
                                <div class="w-100" style="background-image: url('{% static "home/img/box-white.png" %}');background-repeat: no-repeat;background-position: center;background-size: cover;height: 100%;width: 100%;">
                                    <div class="box border-1 position-relative mx-auto" style="width: 300px;height: 300px;">
                                        <img id="alca-meio" src="{% static 'home/img/reais/meio/meio-preta.png' %}" alt=""
                                            class="w-100 position-absolute top-0 start-0" style="z-index: 0;">
                                        <img id="alca-meio-e" src="{% static 'home/img/reais/meio/meio-e-preta.png' %}" alt=""
                                            class="w-100 position-absolute top-0 start-0" style="z-index: 1;">
                                        <img id="alca-meio-d" src="{% static 'home/img/reais/meio/meio-d-preta.png' %}" alt=""
                                            class="w-100 position-absolute top-0 start-0" style="z-index: 1;">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="h-100 pt-4 pt-md-3">
                                    <h3 class="">Cor do Centro</h3>
                                    <div class="colors mt-3 mt-md-5">
                                        <!-- Paleta de cores pré-definidas -->
                                        <div class="color-palette  gap-1 justify-content-center px-2">


                                            <!-- colors -->
                                            <div class="card py-3 px-3 bg-body-secondary border-0 min-height-palet">
                                                <div class="paleta">
                                                    <div class="circle">
                                                        <div class="component">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="22"
                                                                height="22" fill="currentColor" class="bi bi-palette"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z">
                                                                </path>
                                                                <path
                                                                    d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="row row-cols-auto text-center justify-content-center gap-1">

                                                        {% if produtos|length > 0 %}
                                                        {% for p in produtos %}
                                                        {% if p.produto_parte == 'alca' %}
                                                        <!-- color divider -->
                                                        <div class="col cores alca color-option rounded-2"
                                                            partial="alca" data-color="{{ p.cor_hex }}"
                                                            data-product-url="{{ p.product_url }}"
                                                            style="background-color: {{ p.cor_hex }};">

                                                            <div class="div2">
                                                                <div class="component">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22"
                                                                        height="22" fill="currentColor"
                                                                        class="bi bi-palette" viewBox="0 0 16 16">
                                                                        <path
                                                                            d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z">
                                                                        </path>
                                                                        <path
                                                                            d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z">
                                                                        </path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <div class="nome {% if p.cor_nome|contains:'white' or p.cor_nome|contains:'branco' %}text-dark{% else %}text-white{% endif %} bg-transparent h-auto px-1 rounded-bottom-1">
                                                                {{ p.cor_nome }}
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}

                                                        {% endif %}

                                                    </div>



                                                </div>
                                            </div>

                                            <!-- //colors  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- tab frente -->
                    <div class="tab-pane fade  show active" id="frente" role="tabpanel" aria-labelledby="frente-tab">
                        <div class="row row-cols-1 row-cols-md-2 justify-content-center text-center items-align-center">
                            <div class="col">
                                <div class="w-100" style="background-color: white !important;">
                                    <div class="box border-1 position-relative mx-auto" style="width: 300px;height: 300px;">
                                        <img id="frentex" src="{% static 'home/img/reais/frente-preta.png' %}" alt=""
                                            class="w-100 position-absolute top-0 start-0" style="z-index: 1;">
                                        <img id="alcax" src="{% static 'home/img/reais/alca-preta.png' %}" alt=""
                                            class="w-100 position-absolute top-0 start-0" style="z-index: 0;">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="h-100 pt-4 pt-md-3">
                                    <h3 class="">Cor da Frente</h3>
                                    <div class="colors mt-3 mt-md-5">
                                        <!-- Paleta de cores pré-definidas -->
                                        <div class="color-palette  gap-1 justify-content-center px-2">


                                            <!-- colors -->
                                            <div class="card py-3 px-3 bg-body-secondary border-0 min-height-palet">
                                                <div class="paleta">
                                                    <div class="circle">
                                                        <div class="component">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="22"
                                                                height="22" fill="currentColor" class="bi bi-palette"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z">
                                                                </path>
                                                                <path
                                                                    d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="row row-cols-auto text-center justify-content-center gap-1">
                                                        {% if produtos|length > 0 %}
                                                        {% for p in produtos %}
                                                        {% if p.produto_parte == 'frente' %}
                                                        <!-- color divider -->
                                                        <div class="col cores frente color-option rounded-2"
                                                            partial="frente" data-color="{{ p.cor_hex }}"
                                                            data-product-url="{{ p.product_url }}"
                                                            style="background-color: {{ p.cor_hex }};">

                                                            <div class="div2">
                                                                <div class="component">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22"
                                                                        height="22" fill="currentColor"
                                                                        class="bi bi-palette" viewBox="0 0 16 16">
                                                                        <path
                                                                            d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z">
                                                                        </path>
                                                                        <path
                                                                            d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z">
                                                                        </path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <div class="nome {% if p.cor_nome|contains:'white' or p.cor_nome|contains:'branco' %}text-dark{% else %}text-white{% endif %} bg-transparent h-auto px-1 rounded-bottom-1">
                                                                {{ p.cor_nome }}</div>

                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}

                                                        {% endif %}
                                                    </div>



                                                </div>
                                            </div>

                                            <!-- //colors  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- tab atras -->
                    <div class="tab-pane fade" id="atras" role="tabpanel" aria-labelledby="atras-tab">
                        <div class="row row-cols-1 row-cols-md-2 justify-content-center text-center items-align-center">
                            <div class="col">
                                <div class="w-100" style="background-color: white !important;">
                                    <div class="box border-1 position-relative mx-auto" style="width: 300px;height: 300px;">
                                        <img id="atrasx" src="{% static 'home/img/reais/atras-preta.png' %}" alt=""
                                            class="w-100 position-absolute top-0 start-0" style="z-index: 1;">
                                        <img id="atras-alca" src="{% static 'home/img/reais/alca-preta.png' %}" alt=""
                                            class="w-100 position-absolute top-0 start-0" style="z-index: 0;">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="h-100 pt-4 pt-md-3">
                                    <h3 class="">Cor das Costas</h3>
                                    <div class="colors mt-3 mt-md-5">
                                        <!-- Paleta de cores pré-definidas -->
                                        <div class="color-palette  gap-1 justify-content-center px-2">


                                            <!-- colors -->
                                            <div class="card py-3 px-3 bg-body-secondary border-0 min-height-palet">
                                                <div class="paleta">
                                                    <div class="circle">
                                                        <div class="component">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="22"
                                                                height="22" fill="currentColor" class="bi bi-palette"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z">
                                                                </path>
                                                                <path
                                                                    d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="row row-cols-auto text-center justify-content-center gap-1">

                                                        {% if produtos|length > 0 %}
                                                        {% for p in produtos %}
                                                        {% if p.produto_parte == 'atras' %}
                                                        <!-- color divider -->
                                                        <div class="col cores atras color-option rounded-2"
                                                            partial="atras" data-color="{{ p.cor_hex }}"
                                                            data-product-url="{{ p.product_url }}"
                                                            style="background-color: {{ p.cor_hex }};">

                                                            <div class="div2">
                                                                <div class="component">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22"
                                                                        height="22" fill="currentColor"
                                                                        class="bi bi-palette" viewBox="0 0 16 16">
                                                                        <path
                                                                            d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z">
                                                                        </path>
                                                                        <path
                                                                            d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z">
                                                                        </path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <div class="nome {% if p.cor_nome|contains:'white' or p.cor_nome|contains:'branco' %}text-dark{% else %}text-white{% endif %} bg-transparent h-auto px-1 rounded-bottom-1">
                                                                {{ p.cor_nome }}</div>

                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}

                                                        {% endif %}

                                                    </div>



                                                </div>
                                            </div>

                                            <!-- //colors  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <style>
                        #transversal .card-body {
                            text-align: center !important;
                        }

                        /* From Uiverse.io by SupportHotline */
                        .input-transversal {
                            -webkit-appearance: none;
                            /* remove default */
                            margin: 6px;
                            width: 24px;
                            height: 24px;
                            border-radius: 12px;
                            cursor: pointer;
                            vertical-align: middle;
                            box-shadow: hsla(0, 0%, 100%, 0.15) 0 1px 1px,
                                inset hsla(0, 0%, 0%, 0.5) 0 0 0 1px;
                            background-color: hsla(0, 0%, 0%, 0.2);
                            background-repeat: no-repeat;
                            -webkit-transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1),
                                -webkit-transform 0.25s cubic-bezier(0.8, 0, 1, 1);
                            outline: none;
                        }

                        .input-transversal.transversal-verde {
                            background-image: -webkit-radial-gradient(hsla(118, 100%, 90%, 1) 0%,
                                    hsla(118, 100%, 70%, 1) 15%,
                                    hsla(118, 100%, 60%, 0.3) 28%,
                                    hsla(118, 100%, 30%, 0) 70%);
                        }

                        .input-transversal.transversal-preto {
                            background-image: -webkit-radial-gradient(rgb(93, 93, 93) 0%,
                                    rgb(0, 0, 0) 15%,
                                    hsla(0, 0%, 0%, 0.3) 28%,
                                    hsla(50, 100%, 30%, 0) 70%);
                        }

                        .input-transversal.transversal-vermelho {
                            background-image: -webkit-radial-gradient(hsla(0, 100%, 90%, 1) 0%,
                                    hsla(0, 100%, 70%, 1) 15%,
                                    hsla(0, 100%, 60%, 0.3) 28%,
                                    hsla(0, 100%, 30%, 0) 70%);
                        }

                        .input-transversal.transversal-azul {
                            background-image: -webkit-radial-gradient(rgb(220, 204, 255) 0%,
                                    rgb(102, 102, 255) 15%,
                                    hsla(242, 100%, 60%, 0.3) 28%,
                                    hsla(251, 100%, 30%, 0) 70%);
                        }

                        .input-transversal.transversal-branco {
                            background-image: -webkit-radial-gradient(rgb(255, 255, 255) 0%,
                                    rgb(242, 242, 255) 15%,
                                    hsla(0, 0%, 78%, 0.3) 28%,
                                    hsla(0, 0%, 100%, 0) 70%);
                        }

                        .input-transversal:checked {
                            -webkit-transition: background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1),
                                -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
                        }

                        .input-transversal:active {
                            -webkit-transform: scale(1.5);
                            -webkit-transition: -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
                        }

                        /* The up/down direction logic */

                        .input-transversal,
                        .input-transversal:active {
                            background-position: 24px 0;
                        }

                        .input-transversal:checked {
                            background-position: 0 0;
                        }

                        .input-transversal:checked~.input-transversal,
                        .input-transversal:checked~.input-transversal:active {
                            background-position: -24px 0;
                        }
                    </style>

                    <div class="tab-pane fade" id="transversal" role="tabpanel" aria-labelledby="transversal-tab">
                        <div class="row">

                            {% for t in transversal_from_api %}
                            <!-- Item Divider -->
                            <div class="col-6 col-md-3 card border-0 bg-transparent">
                                <div class="card-header bg-transparent border-0">
                                    <img src="{{ t.images.0.src }}" class="card-img rounded float-left">
                                </div>
                                <div class="card-body">
                                    <input class="input-transversal transversal-verde" type="radio"
                                        name="bolsa-transversal" value="{{ t.canonical_url }}" />
                                    {{ t.name.pt }}
                                </div>
                            </div>
                            {% endfor %}

                        </div>


                    </div>
                </div>
            </div>




            <style>
                .buy-btn {
                    transition: linear 0.1s;
                }

                .buy-btn:hover {
                    background-color: #005e3b !important;
                }
            </style>

        </div>
        <!-- Finalizar compra -->
        <div class="end-buy">
            <div class="d-flex justify-content-center">
                <div class="card border-0">
                    <div class="card-body">
                        <h2 class="text-center">Finalizar Compra</h2>

                        <!-- group form -->
                        <div data-bs-theme='light'>
                            <div class="input-sgroup row">

                                <input name='contact-name' type="text" class="form-control mt-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nome" required>
                                <input name='contact-lastname' type="text" class="form-control mt-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="sobrenome" required>
                                <input name='contact-email' type="email" class="form-control mt-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email" required>


                            </div>
                        </div>
                        <!-- // group form-->

                        <div class="card- text-center py-3">
                            <button type="submit"
                                class="border-0 buy-btn fs-4 text-bg-dark py-2 px-4 rounded-5 text-decoration-none"
                                style="sbackground-color: #01ab6c;">Finalizar Compra</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- \\ FIM da sessão de montar a bolsa -->
</form>



{% endblock %}


{% block js %}

<script>

    const colorOptions = document.querySelectorAll('.color-option');
    const inputAlca = document.querySelector('#input-alca');
    const inputFrente = document.querySelector('#input-frente');
    const inputAtras = document.querySelector('#input-atras');
    const inputTransversal = document.querySelector('#input-transversal');

    // tab de FRENTE
    const frentex = document.getElementById('frentex');
    const alcax = document.getElementById('alcax');

    // tab de ALÇA
    const alca_meio = document.getElementById('alca-meio')
    const alca_meio_e = document.getElementById('alca-meio-e')
    const alca_meio_d = document.getElementById('alca-meio-d')

    // tab ATRÁS
    const atrasx = document.getElementById('atrasx');
    const atras_alca = document.getElementById('atras-alca');


    // Atualiza o input de cor e o texto ao clicar em uma cor pré-definida
    colorOptions.forEach(option => {
        option.addEventListener('click', (event) => {
            const color = option.getAttribute('data-color');
            const colorProductUrl = option.getAttribute('data-product-url');
            const partial = option.getAttribute('partial');

            if (partial == 'alca') {
                if (color === '#da3b31') {
                    // vermelho
                    alcax.setAttribute('src', '/static/home/img/reais/alca-vermelha.png');
                    alca_meio.setAttribute('src', '/static/home/img/reais/meio/meio-vermelha.png');
                } else if (color === '#4e4b2c') {
                    alcax.setAttribute('src', '/static/home/img/reais/alca-verde.png');
                    alca_meio.setAttribute('src', '/static/home/img/reais/meio/meio-verde.png');
                } else if (color === '#000000') {
                    alcax.setAttribute('src', '/static/home/img/reais/alca-preta.png');
                    alca_meio.setAttribute('src', '/static/home/img/reais/meio/meio-preta.png');
                } else if (color === '#fefaf7') {
                    alcax.setAttribute('src', '/static/home/img/reais/alca-branca.png');
                    alca_meio.setAttribute('src', '/static/home/img/reais/meio/meio-branca.png');
                } else if (color === '#272733') {
                    alcax.setAttribute('src', '/static/home/img/reais/alca-azul.png');
                    alca_meio.setAttribute('src', '/static/home/img/reais/meio/meio-azul.png')
                }

                inputAlca.value = colorProductUrl;

            } else if (partial == 'frente') {
                if (color === '#da3b31') {
                    // vermelho
                    frentex.setAttribute('src', '/static/home/img/reais/frente-vermelha.png');
                    alca_meio_d.setAttribute('src', '/static/home/img/reais/meio/meio-d-vermelha.png')
                } else if (color === '#4e4b2c') {
                    frentex.setAttribute('src', '/static/home/img/reais/frente-verde.png');
                    alca_meio_d.setAttribute('src', '/static/home/img/reais/meio/meio-d-verde.png')
                } else if (color === '#000000') {
                    frentex.setAttribute('src', '/static/home/img/reais/frente-preta.png');
                    alca_meio_d.setAttribute('src', '/static/home/img/reais/meio/meio-d-preta.png')
                } else if (color === '#fefaf7') {
                    frentex.setAttribute('src', '/static/home/img/reais/frente-branca.png');
                    alca_meio_d.setAttribute('src', '/static/home/img/reais/meio/meio-d-branca.png')
                } else if (color === '#272733') {
                    frentex.setAttribute('src', '/static/home/img/reais/frente-azul.png');
                    alca_meio_d.setAttribute('src', '/static/home/img/reais/meio/meio-d-azul.png')
                }
                inputFrente.value = colorProductUrl;


            } else if (partial == 'atras') {
                if (color === '#da3b31') {
                    // vermelho
                    atrasx.setAttribute('src', '/static/home/img/reais/atras-vermelha.png');
                    alca_meio_e.setAttribute('src', '/static/home/img/reais/meio/meio-e-vermelha.png');
                } else if (color === '#4e4b2c') {
                    atrasx.setAttribute('src', '/static/home/img/reais/atras-verde.png');
                    alca_meio_e.setAttribute('src', '/static/home/img/reais/meio/meio-e-verde.png');
                } else if (color === '#000000') {
                    atrasx.setAttribute('src', '/static/home/img/reais/atras-preta.png');
                    alca_meio_e.setAttribute('src', '/static/home/img/reais/meio/meio-e-preta.png');
                } else if (color === '#fefaf7') {
                    atrasx.setAttribute('src', '/static/home/img/reais/atras-branca.png');
                    alca_meio_e.setAttribute('src', '/static/home/img/reais/meio/meio-e-branca.png');
                } else if (color === '#272733') {
                    atrasx.setAttribute('src', '/static/home/img/reais/atras-azul.png');
                    alca_meio_e.setAttribute('src', '/static/home/img/reais/meio/meio-e-azul.png');

                }
                inputAtras.value = colorProductUrl;

            }

        });
    });

</script>




{% endblock %}